
.money{
  font-size: 30px;
  font-family: Arial;
  margin-right: 6px;
}
.usd{
  color:gray;
  font-family: Arial;
}
.line1{
  margin-bottom: 5px;
}
.line2{
  margin-top: 0;
  font-family: Arial;
  color:green;
  font-size: 15px;
  margin-bottom: 5px;
}
.line3{
  margin-top:0;

}
.hours{
  color:gray;
  font-family: Arial;
  font-size: 15px;
}
.myelem{
  color: crimson;
  font-size: 15px;
  font-family: Arial;
}

