
.Link{
  color:rgb(0,113,133);
  transition: color 0.15s;
}
.Link:hover{
color:red;
}
.Nike{
  color:Black;
  font-size: 20px;
  font-weight:bolder;
  
}
.Price{
  color:rgb(0,118,0);
  font-weight: bold;
}
.Add{
   background-color: rgb(244, 208, 26);
  height:30px;
  width:120px;
  border-radius: 18px;
  border: none;
  cursor:pointer;
  transition: background-color 0.4s, opacity 0.15s;
}
.Add:hover{
  background-color: rgb(234, 198, 22);
}
.Add:active{
  opacity: 0.6;
}
.Buy{
     background-color: rgb(255, 164, 28);
  height:30px;
  width:120px;
  border-radius: 18px;
  border: none;
   cursor:pointer;
  transition: background-color 0.4s, opacity 0.15s;
}
.Buy:hover{
  background-color: rgb(180, 108, 0);
}
.Buy:active{
  opacity: 0.4;
}